.header-part{
    background-color: #000000d5;
    width: 100%;
}
.header-nav{
    padding: 20px;
}
.margin-nav{
    padding: 15px;
    margin: 0 10px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: 0.3s;
}
.margin-nav:hover{
    border-top: 1px solid #ffe600;
    border-bottom: 1px solid #ffe600;
    color: #ffe600;
}
/* .navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
} */